<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sqquid\Sync\Api\ProductManagementInterface" type="Sqquid\Sync\Model\ProductManagement"/>
    <preference for="Sqquid\Sync\Api\Data\ProductInformationInterface" type="Sqquid\Sync\Model\ProductInformation"/>
    <preference for="Sqquid\Sync\Api\QueueManagementInterface" type="Sqquid\Sync\Model\QueueManagement" />

    <type name="\Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">sqquidLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Sqquid\Sync\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>